body{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding-left: 8%;
    padding-right: 8%;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.tomato-highlight{
    color: rgb(185, 19, 136);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg,rgb(150, 44, 3), rgb(185, 19, 136));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
   margin-top: 20px;
   
}
.top-banner{
   
    background-image: url("../image/header-bg.png");
    background-repeat: no-repeat;
   background-size: cover;
  
}

section{
    height: 500px;
    padding-bottom:150px ;
   
}
.half-width img{
    width: 100%;
}
.biography-area{
    background-image: url("../image/biography-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 5%;
    height: 900px;
  
}
.biography-area img{
    margin-top: 20%;
}
#bio{
    margin-top: 15%;
}
.latest-area img{
    height: 28%;
    width: 28%;
    position: relative;
    float: left;
    padding: 40px;
}
.latest-area{
    background-image: url("../image/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  
}
.center{
    text-align: center;
}
#lorem{
    color: black;
}
#ceo{
    color: dimgray;
}
.link-button-two{
    text-decoration: none;
    background-color:  rgb(185, 19, 136);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
   margin-left:  25%;
   width: 50%;
   text-align: center;
   margin-top: 8%;
}
.client-area{
    background-image: url("../image/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
footer p{
    text-align: center;
    font-size: 12px;
}



div.one-third-width:nth-child(4) > img:nth-child(1) {
    position: relative;
    right: -864px;
    bottom: 344px;
  }
  

.client-area > h1:nth-child(1) {
    position: relative;
    left: -198px;
  }
  