.navbar-nav {
    margin-left: 40%;
    background-color: none !important;
    padding-left: 9%;
}
.first-portion{
    height: 700px;
}
.logo{
    width: 70%;
    height: 50px;
  
}

#shop{
    padding-left: 150px;
    padding-top: 8%;
    color: black;
  }
  #causes{
    padding-left:40px;
    padding-top: 15%;
    color: black;
  }
  #pages{
    padding-left: 40px;
    padding-top: 15%;
    color: black;
  }
  #home{
    padding-left: 40px;
    padding-top: 17%;
    color: black;
  }
  .btn-success{
     padding:3% 7%;
      border-radius: 25px;
      margin-top: 3%;
  }
  #second-button{
    padding:.5% 3.5%; 
    border-radius: 35px;
    margin-top: 1PX;
    margin-left: 6%;
   
  }
  #first-button{
    padding:.9% 3.5%; 
    
  }
  .col-md-5{
      margin-top: 50px;
  }
  .first-portion{
      background-color: #F0FFF0;
  }
  .col-md-7 p{
      color: red;
      margin-top: 8%;
  }
  .col-md-7{
      margin-top: -10%;
  }
  .d-block{
      margin-top: -37%;
  }
  th{
    color: white;
    font-size: 19px;
}
td{
    color: gray;
    font-size: 19px;
}
.data p{
    color: white;
    margin-top: 90px;
    font-size: 19px;
}
.footer-widget{
    margin-top: 90px;
}
  .col-md-7 h6{
      color: gray;
      margin-top: 3%;
  }
 
  .card-img-top{
      width: 80px;
      height: 80px;
  }
 .white{
     color: white;
 }
 .shadowbox{
    background-color: #E6E6E6;
     width: 70%;
     height: 70%;
    margin:  20%;
    border-radius: 10px;
 }
    
#book{
    margin: 25%;
}
    
#test{
    margin: 25%;
}         
.para{
    margin-left: 15%;
}
#students{
    margin: 25%;
}
.shadow-lg{
    width: 75%;
    height: 70%;
   margin:  20%;
   border-radius: 10px;
}
.image{
    margin-top: 5%;
}
.card-img-top-morder{
    margin: 2.5%;
    border: none;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.start{
   
    margin-right: 30%;
}
.icon{
    margin-top: 1%;
}
.people{
    margin-top: 1%;
}
    .container{
        margin-bottom: 100px;
    }
    .raw{
        background: #F0FFF0;
    } 
    
    .navbar img{
        width: 200px;  
    }
    .nav-item{
        margin-left: 35px;  
        margin: 10px; 
        font-size: 20px;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: black;
      }
      
    .nav-item button{
        height: 42px;
        width: 100px;
        border-radius: 20px;
        background-color: #21B573; 
        border: #21B573; 
    }
    .nav-item button:hover{
        background-color: #21B573;
    }
    .mid-portion{
        margin-top: 10%;
    }
    .align-items-center{
        margin-top: 120px;
    }
    .row h1{
        font-family: 'Merriweather', serif;
        font-size: 50px;
    }
    .row h1 span{
        color: #21B573;
    }
    .red{
        color: red;
    }
    .w-100 {
        width: 90% !important;
      }
      .row p{
          color: grey;
      }
      .row button{
        height: 42px;
        width: 150px;
        border-radius: 20px;
        background-color: #21B573; 
        border: #21B573; 
      }
      .row button:hover{
        background-color: #21B573;
  
}
.person{
    margin-top: 5%;
}
.man{
    width: 30%;
    height: 100%;
    margin-left: 50%;
}
.finish{
    margin-bottom: 5%;
    color: gray;
}
.first{
    list-style-type: none;
}
.last-part{
    background-color: #1b1a1a;
    width: 100%;
    height: 500px;
    margin-top: 50px;

}
.top{
    margin-top: 50px;
    color: gray;
    font-size: large;
}
.white{
    color: white;
    font-size: large;
}
.copyright{
    color: gray;
    text-align: center;
    font-size: large;
    margin-top: 120px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 0px;
}



.mid-portion {
    margin-top: 2%;
  }
  