@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.cover{
    background-image: url(../images/Winter.jpg);
    height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Dream{
    /* color: blueviolet; */
    font-size: 50px;
    left: 329px;
    position: relative;
    top: 381px;
    background: linear-gradient(rgb(248, 5, 5),rgb(6, 4, 155));
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    font-family: 'Lobster', cursive;
}
.Dream1 {
    position: relative;
    top: 397px;
    left: 455px;
    font-size: 40px;
    background: linear-gradient( rgb(51, 6, 250),rgb(250, 8, 8));
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    font-family: 'Lobster', cursive;
  }
  .Dream {
    top: 407px;
  }



/* Element | file:///E:/MERNPractise/MERNPractise-2/Sweety/My%20Works/picture/index.html */

.Dream {
  top: 177px;
}

/* Element | file:///E:/MERNPractise/MERNPractise-2/Sweety/My%20Works/picture/index.html */

.Dream1 {
  top: 171px;
  left: 606px;
}



/* Element | file:///E:/MERNPractise/MERNPractise-2/Sweety/My%20Works/picture/index.html */

.three {
  position: relative;
  top: 189px;
  left: 759px;
  font-size: 40px;
  background: linear-gradient( rgb(6, 250, 18),rgb(202, 8, 250));
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    font-family: 'Lobster', cursive;
}
