
.container{
  margin-top: 12%;
  background-color: gray;
  width: 50%;
}

.btn{
  height: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 10%;
}
#exampleInputEmail1{
  padding:15%;
  width: 400px;

}