.App {
  text-align: center;
}

.App-header {
  background-color: #151c2e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  color: white;
}

 .mystyle {
  margin: 10px;
  color: rgb(7, 7, 7);
  font-family: Georgia, serif;
  box-shadow: 5px 5px 2px 2px rgb(1, 1, 1,0.4);
}

.title {

  background-color: rgba(245, 161, 150, 0.6);
  font-family: Georgia, serif;
  border-bottom: 1px solid black;
  font-size: 100px;
} 

.count {
  margin: 20px 178px;
  background-color: rgb(180, 179, 179);
  width: 50%;
  text-align: center;
  font-family: serif;
  border: 1px solid black;
  box-shadow: 5px 5px 2px 2px rgb(17, 58, 2);

} 
 

.App-header{
  width: 50rem; 
   height: 20rem;
   border-radius: 25px;
  background: linear-gradient(-40deg, rgb(184, 149, 218), rgb(168, 219, 158), rgb(163, 103, 160));
  background-size: 400% 400%;
  animation: gradient 20s ease infinite; 

} 

.card {
  margin: 100px 313px;
  width: 50%;
  text-align: center;
  border: 1px solid black;
  box-shadow: 5px 5px 2px 2px rgb(189, 193, 187);
  background: linear-gradient(-46deg,rgb(235, 141, 141),rgb(238, 204, 113),rgb(197, 247, 80),rgb(162, 245, 227),rgb(122, 241, 122),rgb(21, 112, 21, 5));
    background-size: 400% 400%;
    animation:gradient 50s ease infinite;

} 

@keyframes gradient {
  0% {

    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
